body{
    background-image: url("../Images/spiration-light.png");
    color: #777777;
}

nav{
    float: right;
}

a:hover{
    background-color: blue;
}

a:focus{
    font-weight: bold;
    font-size: 20px;
}

a:visited{
    color: black;
}

header{
   float: left; 
}

footer{
    position: fixed;
    bottom: -3px;
    left: -3px;
    background-color: aquamarine;
    border: 3px;
    color: black;
    width: 100%;
}

#bioPic{
    position: absolute;
    top: 20px;
    left: 0px;
    height: 100px;
    width: 100px;
    float: left;
}

p::first-letter{
    font-size: 150%;
}

.paras{
    position: static;
    top: 20px;
    left: 0px;
}

#para1{
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 100;
}

#para2{
    font-family: 'Oswald', sans-serif;
    font size: 16px;
    line-height: 24px;
    font-weight: 50;
}