body{
    background-image: url("../images/spiration-light.png");
    color: #777777;
}

nav{
    float: right;
}

header{
   float: left; 
}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#para1{
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 100;
}

#para2{
    font-family: 'Oswald', sans-serif;
    font size: 16px;
    line-height: 24px;
    font-weight: 50;
}