body{
    background-image: url("../images/spiration-light.png");
    color: #777777;
}

nav{
    float: right;
}

header{
   float: left; 
}

footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
}